<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779596975601-u6aljebphlsq2du52ap19mq20dk35j7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779596975601-u6aljebphlsq2du52ap19mq20dk35j7l</string>
	<key>API_KEY</key>
	<string>AIzaSyAhNRNyTEzoCERlLsEr7cJpHFMcz1r5XTw</string>
	<key>GCM_SENDER_ID</key>
	<string>779596975601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>milica.dev.BeatyFile</string>
	<key>PROJECT_ID</key>
	<string>focal-inquiry-267210</string>
	<key>STORAGE_BUCKET</key>
	<string>focal-inquiry-267210.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:779596975601:ios:c3e80de2b93e8e5f504850</string>
	<key>DATABASE_URL</key>
	<string>https://focal-inquiry-267210.firebaseio.com</string>
</dict>
</plist>
